:host ::ng-deep {
  .card{
    .p-card .p-card-body {
      height: 98vh;
  }
}
  .interCard{
    .p-card .p-card-body {
      height: 24rem;
    }
  }
    .p-card .p-card-content {
      padding:0;
  }
  .p-datatable .p-datatable-header {
    background: transparent;
  }
  .p-card .p-card-footer {
    padding: 0;
  }
  .p-inputtext {
    width: 100%;
  }

  .p-tabview .p-tabview-panels {
    padding: 0;
   
  }
  .p-datatable .p-datatable-tbody >tr {
    height: 2rem
  }


  }
  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  