<div class="h-full">
  <p-card class="card">
    <div class="flex gap-3 align-items-center mb-4 w-full">
      <div class="flex align-content-center align-items-center gap-2">
        <p-inputSwitch
          inputId="notificar"
          [(ngModel)]="vp.notificarAutor"
        ></p-inputSwitch>
        <label
          for="notificar"
          class="prevent-select"
          style="font-size: 1rem; margin-top: -0.2rem"
          >Notificar Autor</label
        >
      </div>
      <div class="flex align-content-center align-items-center gap-2">
        <p-inputSwitch
          inputId="visualizacao"
          [(ngModel)]="vp.visualizacaoObrigatoria"
        ></p-inputSwitch>
        <label
          for="visualizacao"
          class="prevent-select"
          style="font-size: 1rem; margin-top: -0.2rem"
          >Visualização Obrigatória</label
        >
      </div>
      <div class="flex align-content-center align-items-center gap-2">
        <p-inputSwitch
          inputId="localizacao"
          [(ngModel)]="vp.geolocalizacao"
        ></p-inputSwitch>
        <label
          for="localizacao"
          class="prevent-select"
          style="font-size: 1rem; margin-top: -0.2rem"
          >Geolocalização</label
        >
      </div>
    </div>
    <p-tabView>
      <p-tabPanel header="Usuário Interno">
        <p-toast></p-toast>
        <p-table
          #dt
          [value]="vp.listaUsuariosInternos"
          [rows]="5"
          selectionMode="single"
          [(selection)]="selectedUsuario"
          [rowHover]="true"
          scrollHeight="45vh"
          dataKey="email"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center">
              <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="buscarUsuarioInterno($any($event.target).value)"
                  placeholder="Pesquisar..."
                  class="w-full"
                />
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="body" let-usuario>
            <tr [pSelectableRow]="usuario">
              <td>{{ usuario.name }}</td>

              <td>{{ usuario.email }}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator
          (onPageChange)="onPageChange($event)"
          [rows]="5"
          [totalRecords]="120"
          [showFirstLastIcon]="false"
          [totalRecords]="vp.numeroDeUsuariosInternos"
        ></p-paginator>
        <div class="flex justify-content-end mt-3">
          <p-button
            styleClass="p-button-rounded"
            icon="pi pi-iconName"
            label="Adicionar"
            (onClick)="adicionarInterno()"
          ></p-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Usuario Externo">
        <div style="height: 30.8rem" class="flex align-items-center">
          <div
            class="h-full w-full flex flex-column justify-content-center align-items-center gap-3"
          >
            <div class="flex flex-column gap-3 w-9">
              <span class="font-bold block mb-1"
                >Nome <span class="text-red-500">*</span>:</span
              >
              <input
                pInputText
                aria-describedby="username-help"
                [(ngModel)]="nomeExterno"
              />
            </div>
            <div class="flex flex-column gap-3 w-9">
              <span class="font-bold block mb-1"
                >Email <span class="text-red-500">*</span>:</span
              >
              <input
                pInputText
                aria-describedby="username-help"
                [(ngModel)]="emailExterno"
              />
            </div>
            <div class="flex flex-column gap-3 w-9">
              <span class="font-bold block mb-1">Telefone:</span>
              <p-inputMask
                class="w-full"
                mask="(99) 99999-9999"
                [(ngModel)]="telefoneExterno"
                placeholder="(00) 00000-0000"
              ></p-inputMask>
            </div>
          </div>
        </div>
        <div class="flex justify-content-end">
          <p-button
            styleClass="p-button-rounded"
            icon="pi pi-iconName"
            label="Adicionar"
            (onClick)="adicionarExterno()"
          ></p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>
