<div class="max-h-full">
  <div class="mb-2">
    <p-card header="Assinantes">
      <div class="flex gap-3">
        <div class="flex align-content-center gap-2">
          <p-inputSwitch
            inputId="notificar"
            [(ngModel)]="notificar"
          ></p-inputSwitch>
          <label
            for="notificar"
            class="prevent-select"
            style="font-size: 1.1rem; margin-top: -0.2rem;"
            >Notificar Autor</label
          >
        </div>
        <div class="flex align-content-center gap-2">
          <p-inputSwitch
            inputId="visualizacao"
            [(ngModel)]="visualizacao"
          ></p-inputSwitch>
          <label
            for="visualizacao"
            class="prevent-select"
            style="font-size: 1.1rem; margin-top: -0.2rem;"
            >Visualização Obrigatória</label
          >
        </div>
        <div class="flex align-content-center gap-2">
          <p-inputSwitch
            inputId="localizacao"
            [(ngModel)]="localizacao"
          ></p-inputSwitch>
          <label
            for="localizacao"
            class="prevent-select"
            style="font-size: 1.1rem; margin-top: -0.2rem;"
            >Geolocalização</label
          >
        </div>
      </div>
      <p-tabView>
        <p-tabPanel header="Usuário Interno">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </p-tabPanel>
        <p-tabPanel header="Usuario Externo">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci
            velit, sed quia non numquam eius modi.
          </p>
        </p-tabPanel>
      </p-tabView>
      <p-footer>
        <div class="flex justify-content-end">
          <p-button icon="pi pi-iconName" label="Adicionar"></p-button>
        </div>
      </p-footer>
    </p-card>
  </div>
  <div>
    <p-card>
      <p-toast></p-toast>
      <div class="-mr-3">
        <p-scrollPanel [style]="{ width: '100%', height: '40vh' }">
          <p-table [value]="signers" [scrollable]="true">
            <ng-template pTemplate="body" let-signer>
              <tr>
                <td>
                  <p-avatar
                    icon="pi pi-user"
                    styleClass="mr-2"
                    shape="circle"
                  ></p-avatar>
                </td>
                <td>{{ signer.name }}</td>
                <td>{{ signer.email }}</td>
                <td class="flex justify-content-end">
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                    (click)="deleteSigner(signer)"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
    </p-card>
  </div>
</div>
