:host ::ng-deep {
  .p-card .p-card-body {
    height: 45vh;
  }
  .p-card .p-card-content {
    padding:0;
}

.p-dropdown {
  width: 17rem;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 0;
}
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
